*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$white: #fff;
$yellow: #FBF37C;
$lightGray: #7F7F7F;
$middleGray: #58555A;
$black: #000000;

.lightTheme {

}
.blackTheme {

}

body {
  background-color: $white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  form {
    background-color: $middleGray;
    padding: 1.2em .7em;
    border-radius: .4em;
    max-width: 720px;
    width: 100%;
    color: $white;
  }
}